<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TDB_Example.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TDB_Example.Properties.Settings>
            <setting name="FormBackground" serializeAs="String">
                <value/>
            </setting>
            <setting name="FormForeground" serializeAs="String">
                <value/>
            </setting>
            <setting name="menuStripBackground" serializeAs="String">
                <value/>
            </setting>
            <setting name="menuStripForeground" serializeAs="String">
                <value/>
            </setting>
        </TDB_Example.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
